*{margin: 0 auto;padding: 0;}
ul li{list-style: none;}
a{text-decoration: none;color: #000000;}
p{color: #000000;}
#head{height: 4.5rem;background-color: #ed6f2d;}
#head img{width: 3.5rem;height: 3.5rem;}
#left{float: left;margin:  0.5rem 0 0 1rem;}
#right{float: left;margin:  0.5rem 0 0 0;}
#srch{float: left;margin:  0.6rem 3rem 0 2.5rem;padding: 0;}
#srch input{height: 3rem;width: 100%; background: #ef8e48 url(../img/search.png)no-repeat;border: 0;padding:0 0 0 3rem;color: #fff;}
.swiper-container{height: 10rem;}
.swiper-slide img{width:100%;height:10rem;}
#icons{border-bottom: 0.5rem #eeeeee solid;}
#icons ul{margin: 0;}
#icons li{width: 6rem;display: inline-block;margin:1rem 0.5rem 0 0rem;text-align: center;}
#icons img{width: 6rem;height: 4rem;}	
#icons p{font-family: "微软雅黑"; font-size:larger;font-weight: lighter;
			margin-top:0.5rem ;}
#goods{margin-bottom: 6rem;}
#goodsList{padding: 0;}			
#goodsList li{padding: 0; width: 50%;height: 18rem;text-align: center;
				border: 0.1rem #eeeeee solid;}			
#goodsList img{width: 100%;height: 80%;}
#goodsList p{margin: 0.2rem 0 0 0.5rem;white-space: nowrap;overflow: hidden;overflow: hidden;text-overflow: ellipsis;}
#goodsList span{color:#ff5000;font-size: large;float: left;margin-left: 1rem;}			
footer{width: 100%;height: 5rem; border-top: 0.1rem solid #E7E7E7;position: fixed;bottom: 0;background-color: #fff;}
.bottom{float: left;margin:  0.2rem 1.6rem 0 1.6rem;text-align: center;
			position: relative; left: 1rem;}
.bottom a{}
.bottom span{width: 4rem;text-align:center;}
.bottom img{width: 2.5rem;height: 2.5rem;}
